absl-py==0.6.1
astor==0.7.1
certifi==2018.11.29
chardet==3.0.4
cloudpickle==0.6.1
cycler==0.10.0
dask==1.0.0
decorator==4.3.0
gast==0.2.0
grpcio==1.17.1
h5py==2.9.0
idna==2.8
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
Markdown==3.0.1
matplotlib==3.0.2
networkx==2.2
numpy==1.15.4
Pillow==5.3.0
protobuf==3.6.1
pydot==1.4.1
pyparsing==2.3.0
python-dateutil==2.7.5
PyWavelets==1.0.1
PyYAML==3.13
pyzmq==17.1.2
requests==2.21.0
scikit-image==0.14.1
scipy==1.2.0
six==1.12.0
stl==0.0.3
tensorboard==1.12.1
tensorflow==2.3.1
termcolor==1.1.0
toolz==0.9.0
torchfile==0.1.0
tornado==5.1.1
trimesh==2.35.48
urllib3==1.24.1
visdom==0.1.8.5
websocket-client==0.54.0
Werkzeug==0.14.1
