absl-py==0.4.1
astor==0.7.1
cycler==0.10.0
gast==0.2.0
graphviz==0.9
grpcio==1.15.0
h5py==2.8.0
Keras==2.2.2
Keras-Applications==1.0.4
Keras-Preprocessing==1.0.2
kiwisolver==1.0.1
Markdown==2.6.11
matplotlib==3.0.0
numpy==1.14.5
opencv-python==3.4.3.18
pkg-resources==0.0.0
protobuf==3.6.1
pydot==1.2.4
pyparsing==2.2.1
python-dateutil==2.7.3
PyYAML==5.4
scipy==1.1.0
six==1.11.0
tensorboard==1.10.0
tensorflow==1.10.1
termcolor==1.1.0
Werkzeug==0.15.3
